.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 3rem;
}

.shopping-content {
  display: flex;
  padding-top: 3rem;
}
.shopping__items {
  padding-right: 5rem;
  display: grid;
  grid-gap: 3rem;
  min-width: 45rem;
  justify-items: center;
}

.shopping__card {
  height: fit-content;
  width: 28rem;
  padding: 1rem;
}
.shopping-card__name {
  padding: 1rem;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #edf2ff;
}
