a {
  text-decoration: none;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  background: #4376fb;
  border-radius: 6px;
  border: 0;
  color: #ffffff;
  cursor: pointer;
  font-weight: 500;
  line-height: 22px;
  padding: 1rem;
  text-align: center;
  width: 100%;
  transition: background 0.2s ease-in-out;
}

.btn:hover {
  background: #172853;
}

.text {
  margin: 0;
  font-style: normal;
  line-height: 1.2rem;
  text-decoration: none;
}

.text--primary {
  font-weight: 500;
  font-size: 1rem;
  color: #172853;
  align-self: center;
  padding: 1rem;
}

.text--nav {
  font-weight: 500;
  color: #b0b3bc;
  padding: 1rem 1rem 1rem 0;
}

.nav--selected {
  color: #172853;
}

.text--accent {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #172853;
}

.text--danger {
  font-size: 14px;
  line-height: 24px;
  color: #ff5050;
  align-self: center;
  padding: 0.2rem;
}

.text--center {
  align-self: center;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 20rem;
  padding: 1rem;
}

.login-form__body {
  padding-bottom: 2rem;
}

/* Forms */
.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  border: 0;
  outline: 0;
  padding: 1rem;
}

.input--primary {
  border-bottom: 1px solid #edf2ff;
  width: 90%;
}

.input--primary:focus {
  border-bottom: 1px solid #4376fb;
}

.input--danger {
  border-bottom: 1px solid #ff5050;
}

.input--danger:focus {
  border-bottom: 1px solid #ff5050;
}

.input--danger::placeholder {
  color: #ff5050;
}

.input--search {
  border-radius: 6px;
  width: 15rem;
}

.input--search::placeholder {
  background-image: url("./assets/search.svg");
  background-repeat: no-repeat;
  background-position: 0 0.25rem;
  color: #b0b3bc;
}
