a {
  text-decoration: none;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  background: #4376fb;
  border-radius: 6px;
  border: 0;
  font-size: 1rem;
  padding: 1rem;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  width: 100%;
  cursor: pointer;
}

.login-form {
  display: flex;
  justify-content: center;

  flex-direction: column;
  width: 20rem;
  padding: 1rem;
}

.text {
  margin: 0;
  font-style: normal;
  line-height: 1.2rem;
  text-decoration: none;
}

.text--primary {
  font-weight: 500;
  font-size: 1rem;
  color: #172853;
  align-self: center;
  padding: 1rem;
}

.text--nav {
  font-weight: 500;
  color: #b0b3bc;
  padding: 1rem 1rem 1rem 0;
}

.nav--selected {
  color: #172853;
}

.text--accent {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #172853;
}

.text--danger {
  font-size: 14px;
  line-height: 24px;
  color: #ff5050;
  align-self: center;
  padding: 0.2rem;
}

.text--center {
  align-self: center;
}

.input {
  display: flex;
  align-items: center;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #edf2ff;
  padding: 1rem;
  margin-bottom: 1rem;
}
.input__search {
  border-radius: 6px;
  outline: 0;
  border: 0;
  padding: 0.8rem;
  width: 15rem;
}

.input:focus {
  border-bottom: 1px solid #4376fb;
  outline: 0;
}
